
history/states/812-Sudan.txt
.vscode/settings.json
.vs/Branch-for-SOV/FileContentIndex/5c14480c-cff6-42f2-bf0f-4746c59f7922.vsidx
.vs/Branch-for-SOV/FileContentIndex/613be9d6-dc8d-4e06-92e9-af0f1be35dea.vsidx
.vs/Branch-for-SOV/FileContentIndex/65af73a0-4295-4713-bb3b-2f702d70bf30.vsidx
.vs/Branch-for-SOV/FileContentIndex/6d86cf9a-b72d-467e-9e78-deeb73e2781e.vsidx
.vs/Branch-for-SOV/FileContentIndex/753b516d-c814-4fbd-ab4a-ffc75250533e.vsidx
.vs/Branch-for-SOV/FileContentIndex/9ce014a9-83f4-46c5-a107-cd2b4e62dfc5.vsidx
.vs/Branch-for-SOV/FileContentIndex/ac01ad29-e1db-4e01-8bb5-0f9bc9a63d59.vsidx
.vs/Branch-for-SOV/FileContentIndex/bd642610-ab64-426c-9a19-cfaaae07555c.vsidx
.vs/Branch-for-SOV/v17/.wsuo
.vs/Branch-for-SOV/v17/DocumentLayout.backup.json
.vs/Branch-for-SOV/v17/DocumentLayout.json
.vs/Branch-for-SOV/v17/workspaceFileList.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
